#login-card-content {
    color: greenyellow;
    margin: 0 auto;
    margin-top: 8%;
    width: 60vw;
    display: flex;
    text-align: center;
}

a {
    color: white;
    text-decoration-color: white;
}